:root {
  font-size: 12px;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(hsl(273, 75%, 66%),
      hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  min-height: calc(100vh - 2rem);
  padding: 1rem 6rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 525px;
  max-width: 920px;
  background-color: #fff;
  border-radius: 2rem;
}

.flex-item {
  width: 50%;
}

.box-gfx {
  position: absolute;
  top: 18rem;
  left: -8rem;
  width: 191px;
}

.woman-gfx {
  margin-left: -7rem;
  margin-top: 7rem;
  width: 472px;
}

.img-wrap {
  overflow: hidden;
}

.flex-item:nth-of-type(1) {
  background-image: url(../images/bg-pattern-desktop.svg);
  background-size: 966px;
  position: relative;
  background-position-x: -48rem;
  background-repeat: no-repeat;
  background-position-y: -24rem;
}

.flex-item:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 6rem 7rem 6rem 1rem;
  width: calc(50% - 8rem);
  background-color: #fff;
  z-index: 3;
  border-radius: 0 2rem 2rem 0;
}

h1 {
  font-weight: 700;
  font-size: 2.75rem;
  margin-bottom: 2rem;
}

details {
  padding: 1.5rem 0;
  border-bottom: 1px solid #eee;
}

details div {
  margin-top: 1rem;
  line-height: 1.75rem;
  color: hsl(237, 12%, 33%);
}

summary {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

summary:hover {
  color: hsl(14, 88%, 65%);
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}

details[open] .arrow-icon {
  transform: rotate(180deg);
}

details[open] summary {
  font-weight: 700;
}

.arrow-icon {
  width: 10px;
  height: 7px;
  margin-right: 15px;
}

footer {
  text-align: center;
  line-height: 2rem;
  font-size: 1.25rem;
}

footer a {
  font-weight: 700;
  color: #fff;
}

@media screen and (max-width: 968px) {
  body {
    padding: 1rem;
  }

  main {
    flex-direction: column;
  }

  .flex-item {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .flex-item:nth-of-type(1) {
    min-height: 0;
    max-height: 200px;
  }

  .flex-item:nth-of-type(2) {
    padding: 4rem 2rem;
    width: calc(100% - 4rem);
  }

  details {
    width: 100%;
  }

  details div {
    padding-right: 3rem;
  }

  .img-wrap {
    position: relative;
    min-height: 150px;
    overflow: visible;
  }

  .box-gfx {
    top: 0rem;
    left: 0;
    width: 191px;
    width: 25%;
  }

  .woman-gfx {
    top: -5rem;
    left: 0;
    right: 0;
    width: 472px;
    width: 50%;
  }

  .bg-pattern-gfx {
    display: none;
  }
}